# Entorno virtual
venv/
env/
.env

# Archivos de la base de datos de desarrollo
db.sqlite3

# Compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
.vscode/
.idea/

# Credenciales locales
credenciales.txt
